<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <div class="error-messages">
      <h3><%= pluralize(blog.errors.count, "error") %> prevented this blog from being saved:</h3>
      <ul>
        <% blog.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form. label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="form-group">
    <%= form.label :body %>
    <%= form.text_area :body, rows: 10 %>
  </div>

  <div class="form-group">
    <%= form.check_box :published %>
    <%= form.label :published, "Publish immediately" %>
  </div>

  <%= form.submit class: "btn" %>
  <%= link_to "Cancel", blogs_path, class: "btn", style: "background: #999;" %>
<% end %>