<div class="page-header">
  <h1>Blogs</h1>
</div>

<% if @blogs.any? %>
  <% @blogs.each do |blog| %>
    <div class="blog-card">
      <h2><%= link_to blog.title, blog %></h2>
      <p><%= truncate(blog.body, length: 200) %></p>
      <div class="blog-meta">
        <span class="badge <%= blog.published?  ? 'published' : 'unpublished' %>">
          <%= blog.published?  ? 'Published' : 'Unpublished' %>
        </span>
        <span><%= blog.comments. count %> comments</span>
        <span><%= blog.created_at.strftime("%B %d, %Y") %></span>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="blog-card">
    <p>No blogs found.</p>
  </div>
<% end %>