<p style="color: green"><%= notice %></p>

<h1>Blogs</h1>

<div style="margin-bottom: 20px;">
  <%= link_to "All Blogs", blogs_path, style: "margin-right: 10px;" %>
  <%= link_to "Published Blogs", published_blogs_path, style: "margin-right: 10px;" %>
  <%= link_to "Unpublished Blogs", unpublished_blogs_path %>
</div>

<div id="blogs">
  <% @blogs.each do |blog| %>
    <%= render blog %>
    <p>
      <%= link_to "Show this blog", blog %>
    </p>
  <% end %>
</div>

<%= link_to "New blog", new_blog_path %>