<!DOCTYPE html>
<html>
  <head>
    <title>Blog App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <div class="container">
        <h1><%= link_to "Blog App", blogs_path %></h1>
        <nav>
          <%= link_to "All Blogs", blogs_path %>
          <%= link_to "Published", published_blogs_path %>
          <%= link_to "Unpublished", unpublished_blogs_path %>
          <%= link_to "New Blog", new_blog_path, class: "btn" %>
        </nav>
      </div>
    </header>

    <main class="container">
      <% if notice %>
        <div class="notice"><%= notice %></div>
      <% end %>
      <% if alert %>
        <div class="alert"><%= alert %></div>
      <% end %>

      <%= yield %>
    </main>

    <footer>
      <div class="container">
        <p>&copy; 2026 Blog App</p>
      </div>
    </footer>
  </body>
</html>